<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}">
<head>
  <title>Hébergement</title>
</head>
<body>
  <section layout:fragment="body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Infos sur l'hébergement</h1>
          <div data-count="1" class="card card-product">
            <div th:if="${hebergement.img}" class="card-header card-header-image animated" data-header-animation="true">
              <img class="img" th:src="${hebergement.img}">
            </div>
            <div class="card-body">
              <div th:if="${hebergement.img}" class="card-actions text-center">
                <a th:if="${hebergement.available}" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="" data-original-title="Réserver"  th:href="@{/reservation/reserver(id_hebergement=${hebergement.id})}">
                  <i class="material-icons">home</i>
                  Réserver
                  <div class="ripple-container"></div>
                </a>
              </div>
              <h4 class="card-title" th:text="${hebergement.nom}"></h4>
              <div class="card-description" th:text="${hebergement.description}"></div>
            </div>
            <div class="card-footer">
              <div class="price" th:if="${hebergement.prixJour}"><span th:text="${hebergement.prixJour + ' € / jour'}"></span></div>
              <div class="price" th:if="${hebergement.prixPers}"><span th:text="${hebergement.prixPers + ' € / jour'}"></span></div>
              <div class="reservation">
                <a th:if="${hebergement.available}" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="" data-original-title="Réserver"  th:href="@{/reservation/reserver(id_hebergement=${hebergement.id})}">
                  <i class="material-icons">home</i>
                  Réserver
                  <div class="ripple-container"></div>
                </a>
              </div>
              <div class="stats">
                <p class="card-category" th:if="${hebergement.ville} and ${hebergement.pays}"><i class="material-icons">place</i> <span th:text="${hebergement.ville + ', ' + hebergement.pays}"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  </html>
