<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}">
<head>
  <title>Hébergement</title>
</head>
<body>
  <section layout:fragment="body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Infos sur l'hébergement</h1>
          <div class="card">
            <img class="card-img-top" th:src="${hebergement.img}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-center" th:text="${hebergement.typeHebergement}"></h4>
              <h6 class="card-subtitle mb-2 text-muted text-center" th:text="${'Bien proposé par ' + hebergement.proprietaire.firstName + ' ' + hebergement.proprietaire.lastName}"></h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item pl-4">Nombre de places : <span th:text="${hebergement.nbPlace}"></span></li>
                <li class="list-group-item pl-4" th:if="${hebergement.prixJour}">Prix / Jour : <span th:text="${hebergement.prixJour}"></span></li>
                <li class="list-group-item pl-4" th:if="${hebergement.prixPers}">Prix / Personne : <span th:text="${hebergement.prixPers}"></span></li>
              </ul>
              <div th:switch="${hebergement.available}">
                <a th:case="true" class="btn btn-success mt-3 ml-4" th:href="@{/reservation/reserver(id_hebergement=${hebergement.id})}">Réserver ce bien</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
