<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}">
<head>
  <title>Enregistrement</title>
</head>
<body>
  <section layout:fragment="body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Demande de location</h1>
          <form th:action="@{/reservation}" th:object="${reservation}" method="post">
            <input name="idHebergement" type="hidden" th:value="${hebergement.id}" />
            <div class="form-group">
              <label for="firstName" class="control-label">Prénom</label>
              <input id="firstName" type="text" class="form-control" th:field="*{firstName}" />
            </div>
            <div class="form-group">
              <label for="lastName" class="control-label">Nom</label>
              <input id="lastName" type="text" class="form-control" th:field="*{lastName}"/>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('start')}? 'has-error':''">
              <label for="start" class="control-label">Date de début</label>
              <input id="start" type="date" class="form-control" th:field="*{start}"/>
              <p class="error-message" th:each="error : ${#fields.errors('start')}" th:text="${error}">Erreur de validation</p>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('end')}? 'has-error':''">
              <label for="end" class="control-label">Date de fin</label>
              <input id="end" type="date" class="form-control" th:field="*{end}"/>
              <p class="error-message" th:each="error : ${#fields.errors('end')}" th:text="${error}">Erreur de validation</p>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Demander la location</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
