<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}">
<head>
  <title>Enregistrement</title>
</head>
<body>
  <section layout:fragment="body">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Vous êtes désormais enregistré sur la plateforme, vous vous connecter en cliquant <a href="/" th:href="@{/login}">ici</a>
                </div>
            </div>

            <h1 class="text-center">Enregistrement</h1>
            <form th:action="@{/reservation}" th:object="${annonce}" method="post">

                <div class="form-group">
                    <button type="submit" class="btn btn-success">S'enregistrer</button>
                    <span>Déjà enregistré ? <a href="/" th:href="@{/login}">Connectez-vous ici</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
</body>
</html>
