<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}">
<head>
  <title>Enregistrement</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css" />
</head>
<body>
  <section layout:fragment="body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Demande de location</h1>
          <form th:action="@{/reservation}" th:object="${reservation}" method="post">
            <input name="idHebergement" type="hidden" th:value="${hebergement.id}" />
            <div class="form-group" th:classappend="${#fields.hasErrors('start')}? 'has-error':''">
              <label for="start" class="control-label">Date d'arrivée</label>
              <input id="start" type="text" name="start" class="form-control datepicker" th:field="*{start}" required/>
              <p class="error-message" th:each="error : ${#fields.errors('start')}" th:text="${error}">Erreur de validation</p>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('end')}? 'has-error':''">
              <label for="end" class="control-label">Date de départ</label>
              <input id="end" type="text" name="end" class="form-control datepicker" th:field="*{end}" required/>
              <p class="error-message" th:each="error : ${#fields.errors('end')}" th:text="${error}">Erreur de validation</p>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Demander la location</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">

  $(document).ready(function() {
    // initialise Datetimepicker and Sliders
    $(".datetimepicker").datetimepicker({
      locale: "fr",
      showClear: true,
      showClose: true,
      icons:{
        time:"fa fa-clock-o",
        date:"fa fa-calendar",
        up:"fa fa-chevron-up",
        down:"fa fa-chevron-down",
        previous:"fa fa-chevron-left",next:"fa fa-chevron-right",
        today:"fa fa-screenshot",
        clear:"fa fa-trash",
        close:"fa fa-remove"
      }
    });
    $(".datepicker").datetimepicker({
      locale: "fr",
      format:"DD/MM/YYYY",
      showClear: true,
      showClose: true,
      icons:{
        time:"fa fa-clock-o",
        date:"fa fa-calendar",
        up:"fa fa-chevron-up",
        down:"fa fa-chevron-down",
        previous:"fa fa-chevron-left",
        next:"fa fa-chevron-right",
        today:"fa fa-screenshot",
        clear:"fa fa-trash",
        close:"fa fa-remove"
      }
    });
    $(".timepicker").datetimepicker({
      // defaultDate: "2019-11-28 09:00",
      locale: "fr",
      format:"H:mm",
      showClear: true,
      showClose: true,
      icons:{
        time:"fa fa-clock-o",
        date:"fa fa-calendar",
        up:"fa fa-chevron-up",
        down:"fa fa-chevron-down",
        previous:"fa fa-chevron-left",
        next:"fa fa-chevron-right",
        today:"fa fa-screenshot",
        clear:"fa fa-trash",
        close:"fa fa-remove"
      }
    });

    $("#start").on('dp.change', function(e){
      $('#end').data("DateTimePicker").minDate(e.date);
      $('#end').data("DateTimePicker").clear();
    })
  });

</script>
</body>
</html>
