<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">AirBnb</title>
</head>
<body>
  <header layout:fragment="header">
    <nav class="navbar navbar-expand-lg bg-info">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Airbnb Light</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li sec:authorize="!isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/registration' ? 'active':''}">
              <a class="nav-link" th:href="@{/registration}">S'enregistrer</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}">
              <a class="nav-link" th:href="@{/login}">Se connecter</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/reservation' ? 'active':''}">
              <a class="nav-link" th:href="@{/reservation}">Locations</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/user' ? 'active':''}">
              <a class="nav-link" th:href="@{/user}">Votre compte</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/hebergements-user' ? 'active':''}">
              <a class="nav-link" th:href="@{/hebergements-user}">Vos hebergements</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/reservations-users' ? 'active':''}">
              <a class="nav-link" th:href="@{/reservations-users}">Vos Reservations</a>
            </li>
          </ul>
          <ul class="navbar-nav" sec:authorize="isAuthenticated()">
            <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification" th:if="${reservationAValider}" th:text="${#lists.size(reservationAValider)}"></span>
                </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a th:each="reser : ${reservationAValider}" th:text="${reser.id}" class="dropdown-item" href="#"></a>
              </div>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>
                <!-- <p class="d-lg-none d-md-block">
                  Votre compte
                </p> -->
                <div class="ripple-container"></div></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" th:href="@{/user}">Votre profil<div class="ripple-container"><div class="ripple-decorator ripple-on ripple-out" style="left: 112px; top: 28px; background-color: rgb(255, 255, 255); transform: scale(18.75);"></div></div></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" th:href="@{/logout}">Se déconnecter</a>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </nav>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" th:href="@{/}">Airbnb Light</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li sec:authorize="!isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/registration' ? 'active':''}">
            <a class="nav-link" th:href="@{/registration}">S'enregistrer</a>
          </li>
          <li sec:authorize="!isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}">
            <a class="nav-link" th:href="@{/login}">Se connecter</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'active':''}">
            <a class="nav-link" th:href="@{/reservation}">Locations</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'active':''}">
            <a class="nav-link" th:href="@{/user}">Votre compte</a>
          </li>
        </ul>
        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
          <li class="nav-item dropdown">
            <a class="nav-link" href="" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">person</i>
              <p class="d-lg-none d-md-block">
                Votre compte
              </p>
              <div class="ripple-container"></div></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                <a class="dropdown-item" th:href="@{/user}">Votre profil<div class="ripple-container"><div class="ripple-decorator ripple-on ripple-out" style="left: 112px; top: 28px; background-color: rgb(255, 255, 255); transform: scale(18.75);"></div></div></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">Se déconnecter</a>
              </div>
            </li>
          </ul>
        </div>
      </nav> -->
    </header>

    <div class="main_content">
      <section layout:fragment="body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>Bienvenue sur AirBnb</h1>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer class="footer py-4 mt-5 bg-dark text-center text-white-50" layout:fragment="footer">
      <div class="container">
        Copyright © AirBnb Corp 2019
      </div>
    </footer>
  </body>
  </html>
