<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}">
<head>
  <title>Votre compte</title>
</head>
<body>
  <section layout:fragment="body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Votre compte</h1>
          <a th:text="${username}"></a>
          <a th:text="${nom}"></a>
          <a th:text="${prenom}"></a>

          <table>
            <tr th:each="annonce : ${annonces}">
              <td><a th:text="${annonce.id}"></a></td>
              <td><a th:text="${annonce.typeHebergement}"></a></td>
              <td><a th:text="${annonce.nbPlace}"></a></td>
              <td><a th:text="${annonce.available}"></a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
