// // Body
// $body-bg: #f8fafc;
//
// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;
//
// // Colors
$blue: #0082c6;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #98bf0e;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey-light: #f5f5f5;

// Body
$body-bg: #f8fafc;
$color-white: #ffffff;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #0082c6;
$brand-info: #d8d8d8;
$brand-success: #98bf0e;
$brand-warning: #F48024;
$brand-danger: #d20;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Modals
$modal-backdrop-bg: rgba(0,0,0,0);
$zindex-modal-backdrop: 10;
